#follow this tutorial: https://note.nkmk.me/en/python-pip-install-requirements/
#tldr -> inside virtual env: pip install -r requirements.txt
#addition to Readme

asgiref==3.5.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.2
defusedxml==0.7.1
Django==3.2.12
django-ace==1.0.11
django-environ==0.8.1
djangosaml2==1.3.5
elementpath==2.5.0
environ==1.0
idna==3.3
importlib-resources==5.6.0
mockdjangosaml2==0.16.1
mysqlclient==2.1.0
pycparser==2.21
pyOpenSSL==22.0.0
pysaml2==7.1.2
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
typing_extensions==4.1.1
urllib3==1.26.9
wincertstore==0.2
xmlschema==1.9.2
zipp==3.7.0
