@font-face {
    font-family: "source_sans_probold";
    src: url(SourceSansPro-Boldt.woff);
  }
  
  body {
    background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143; 
    margin: 0;
  }

  a{
    text-decoration: none;
  }

  .container-header{
    width: 1000px;
    max-width: none!important;
  }

  .container-header {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1000px;
    height: 600px;
  }

  .container-header{
    width: 1000px;
    max-width: none!important;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
    max-height: 50px;
  }
  
  .col-sm-6{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
  }

  .col-sm-12{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

  table.dataTable {
    clear: both;
    margin-top: 6px!important;
    margin-bottom: 6px!important;
    max-width: none!important;
  }

  tr{
    border-bottom: 2px solid #ddd;
    padding: 8px;
  }

  .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    background-image: none !important;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer; 
    background-image: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .btn-primary:hover{
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
  }
  
  .input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-left: 30em;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    display: inline-block;
    width: auto;
    /* float: right; */
    position: relative;
  }
  
  .input-sm:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
  }

  ul.years {
    font-size: 2em;
    list-style: none;
    padding: 0;
  }

  ul.courses {
    padding-left: 1em;
    font-size: .9em;
    border-top: 1px solid #e6e6e6;
    margin-bottom: 1em;
    list-style: none;
  }

  .page-header {
    padding-bottom: 9px;
    margin: 55px 0 20px;
    font-size: 20px;
    border-bottom: 1px solid #eee;
    font-weight: 700;
  }

  .page-header a{
    color: #428bca;
  }
  
  .page-header a:hover{
    text-decoration: underline;
    color: #2a6496;
  }
  
  .contest-title {
    font-size: 28px;
    margin-bottom: 15px;
  }
  
  .contest-title a:focus {
    outline: none;
    text-decoration: underline;
}

  .contest-title a:hover{
    color: #2a6496;
    text-decoration: underline;
  }

  .contest-title a{
    color: #428bca;
    text-decoration: none;
    font-size: 28px ;
  }
  
  .contest-title a:hover{
    text-decoration: underline;
    color: #2a6496;
  }
  
  .tab-content>.active {
    display: block;
    visibility: visible;
  }  

  #subres .testresults {
    box-shadow: inset 0 0 0 1px #eee;
    padding: 15px;
    min-height: 70px;
  }

  .testresult{
    position: relative;
    background-repeat: repeat-x;
    height: 160px;
    width: 180px !important;
    float: left;
    padding: 8px;
    margin: 10px 10px 0px 0px;
  }

  #subres .testresults {
    box-shadow: inset 0 0 0 1px #eee;
    padding: 15px;
    min-height: 70px;
    height: 200px;
  }

  #subres .testresults .testresult:before {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Glyphicons Halflings';
  }

  #subres .testresult .testresults {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #eee;
    padding: 8px;
    cursor: pointer;
    height: 160px;
    width: 180px !important;
    margin-right: 10px;
    margin-top: 10px;
  }

  #subres #result {
    font-size: 18px;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 21px;
  }

  #result {
    font-size: 18px;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 21px;
  }

  .result {
    font-weight: bold;
    margin: 0 0 10px;
    width: 50%;
  } 

  .toolbar {
    position: absolute;
    bottom: 20px;
    display: inline;
    color: #555;
    margin-left: 6px;
    font-size: .7em;
  }

  .glyphicon-correct{
      float: right;
      position: absolute;
  }

  .testresults_1{
      min-height: 200px !important;
      height: 200px !important;
  }

  .tab-pane {
    padding-top: 21px;
  }

  .tab-pane {
    display: none;
    visibility: hidden;
    padding-top: 21px;
  }

  .content {
    position: relative;
    float: left;
    width: 75%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 1.1em;
    margin-bottom: 0;
    font-size: 17.5px;
  }

  #problem {
    position: relative;
    float: left;
    width: 75%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 1.1em;
    margin-bottom: 0;
  }

  .aside {
    position: relative;
    float: left;
    width: 25%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

 

  .cp {
    color: #999;
    font-weight: bold;
    font-style: italic;
  }

  .kt {
    color: #458;
    font-weight: bold;
  }

  .nf {
    color: #900;
    font-weight: bold;
  }

  .o {
    color: #000;
    font-weight: bold;
  }

  .s {
    color: #d01040;
  }

  .mi {
    color: #099;
  }

  .highlight {
    color: #999;
    font-weight: bold;
    font-style: italic;
  }

  .content div.sample pre {
    display: table-cell;
    height: 100%;
    margin-bottom: 0;
    color: #c7254e;
    background-color: lightyellow;
    width: 310px;
    overflow: hidden;
    vertical-align: top;
    line-height: 1.28;
    }

    pre {
        font-size: 14px;
        display: block;
        line-height: 1.42857143;
        word-break: break-all;
        word-wrap: break-word;
        color: #333;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .content h3 span {
        position: relative;
        width: 50%;
        display: inline-block;
        padding-left: 0.6em;
    }

  .content div.copy-btns div span.btn-copy {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    padding: 1px 6px;
    width: auto;
    position: absolute;
    right: -6px;
    top: -22px;
    font-family: "source_sans_proregular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: 'Glyphicons Halflings';
    margin-right: 0.6em;
    font-size: .7em;
    content: "\e022";
    }

    .content div.copy-btns div {
    display: inline-block;
    position: relative;
    width: 50%;
    vertical-align: top;
    }

  .input{
    display: table-cell;
    height: 100%;
    margin-bottom: 0;
    color: #c7254e;
    background-color: lightyellow;
    width: 50%;
    overflow: hidden;
    vertical-align: top;
    line-height: 1.28;
  }

  .output{
    display: table-cell;
    height: 100%;
    margin-bottom: 0;
    color: #c7254e;
    background-color: lightyellow;
    width: 50%;
    overflow: hidden;
    vertical-align: top;
    line-height: 1.28;
  }

  .glyphicon-tags {
    margin-right: 0.1em;
    font-size: 2em;
  }

  .footer {
    margin-top: 30px;
    border-top: 1px solid #eee;
    padding: 30px;
    text-align: center;
  }
  
  .footer-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 66px;
  }

  .fa-caret-down:before{content:"\f0d7";}

  #subres .testresults .testresult.ok, #subres .testresults .testresult.pe {
    background-image: -webkit-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);
    background-image: -o-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);
    background-image: linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%);
    background-repeat: repeat-x;
    border-color: #b2dba1;
}

#subres .testresults .testresult.fal {
    background-image: -webkit-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
    background-image: -o-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
    background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);
    background-repeat: repeat-x;
    border-color: #dca7a7;
    line-height: 1.42857143;
}