{% extends "base.html" %}
{% load filter %}
{% block content %}
<div class="container container-header page-top-offset course-page" style="margin: 0px"> <!-- potrebno da je tu style jer inace ne overridea ga -->
    <div class="course-page-header">
        <h1>
            <b>{{ course.title }}</b>
            <small style="color: grey;">{{ course|getSchoolYear }}</small>
        </h1>
    </div>
    <ul>
    {% for test in tests %}
        <li>
            <i class="fa-solid fa-clock" style="/*color: black; background-color: white;*/"></i>
            <!-- <i class="fa-regular fa-clock-three"></i> -->
            <a href="{% url 'app:test' test.id %}">{{ test.title }}</a>
        </li>
    {% endfor %}
    </ul>
    <ul>
    {% for quiz in quizs %}
        <li>
            <i class="fa-solid fa-clock" ></i>
            <a href="{% url 'app:quiz' quiz.id %}">{{ quiz.title }}</a>
        </li>
    {% endfor %}
    </ul>  
</div>
{% endblock content %}
