{% extends "base.html" %}
{% load filter %}
{% block content %}
<div>
    {% if user.is_authenticated %}
        <div class="container container-header page-top-offset home-page" style="margin: 0px"> <!-- jedino ovako override-a margin inace nece-->
            <div class="page-header">
                <h1><b>Predmeti</b></h1>
            </div>
            <br>
            <ul style="padding: 0px;">
                {% for key, subCourses in courses.items %}
                    <div>{{ subCourses|getCourseDate:"start" }}/{{ subCourses|getCourseDate:"end" }}</div>        
                    <li>
                        <ul>
                            {% for course in subCourses %}
                                <li>
                                    <a href="/course/{{ course.id }}/">{{ course.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="container container-header page-top-offset home-page" style="margin: 0px">
            <div class="page-header">
                <h1>Uvod u objektno orijentirano programiranje</h1>
            </div>
        </div>
    {% endif %}
{% endblock content %}
