{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
  .dataTables_filter { /* hides default search button*/
      display: none;
  }
</style>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id = "openInfoModal" >Otvori ispit</button>
       

<span id = "score"></span>
<!-- Info modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><span id = "quizName" >{{ quizs.title }} </span></h5> <!-- Dynanic span with quiz name -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id = "closeModal1"> <!-- Cross button that closes the quiz info modal -->
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id = "quizInfo"> <!-- Dynamic span with quiz details -->
        {{ quizs.description }}
        <!--1. kontrolna zadaća prikazuje način polaganja kolegija putem uoop-riteh.hr sustava. Broj pokušaja je neograničen a ostvareni rezultati se ne evidentiraju.<br>
        -->
        <br>
        <b>Vrijeme završetka ispita:</b> <span id = "maxTime">{{ quizs.endDate }}</span>
      </div>
      <div class="modal-footer">
        <!-- Button which opens the quiz and starts the timer-->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" id = "quizStart"> Pokreni ispit </button>
      </div>
    </div>
  </div>
</div>

 
<!--Quiz modal, static data-backdrop so it doesnt't close by clicking background-->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 80%;" >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="staticBackdropLabel">Zadatak <span id = "questionNumber">1</span></h4> <!-- Dynamic question number -->
        <tab><button type="button" id = "timer" class="btn btn-primary" disabled><span id = "timeLeft"></span></button> <!--Button with time left, changes color in the last minute -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id = "closeModal2"> <!-- Cross button which activates alert box -->
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id = "questionPic"> <!--Place where the picture is displayed-->
      </div>
      <div class="modal-body" id = "question"> <!--Place where the question is displayed-->
        ...

      </div>
      <div class="modal-body" id = "answers"> <!-- Place where the buttons are displayed -->
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger
        " data-dismiss="modal" id = "quizFinish" >Završi kviz</button> <!--Buttton finish quiz which activates alert box-->
         <button type="button" class="btn btn-primary" id = "nextQuestion">Iduće pitanje</button> <!-- Button to go to the next question -->
      </div>
    </div>
  </div>
</div>

<!--</script>-->
<script>
    var maxMinutes = '{{ quizs.endDate.minute }}';
    var maxSeconds = '{{ quizs.endDate.second }}'; 
    var minMinutes = '{{ quizs.startDate.minute }}';
    var minSeconds = '{{ quizs.startDate.second }}';
</script>

<script src="{% static 'components/js/modal.js' %}" ></script>
{% endblock content %}
