{% extends "base.html" %}
{% load static %}
{% block content %}
<title>Teorijski ispit</title>
<style>
  .dataTables_filter { /* hides default search button*/
      display: none;
  }
</style>
<div class = "centeredTextDiv">
  <h1>{{ quizs.title }}</h1>
  <br>

  <p>{{ quizs.description }}</p>
  <br>

  <p><b>Vrijeme početka ispita:</b> <span id = "maxTime">{{ quizs.startDate }}</span></p>
  <br>

  <p><b>Vrijeme završetka ispita:</b> <span id = "maxTime">{{ quizs.endDate }}</span></p>
  <br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id = "openInfoModal" >Otvori ispit</button>
</div>


<span id = "score"></span>
<!-- Info modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><span id = "quizName" >{{ quizs.title }} </span></h5> <!-- Dynanic span with quiz name -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id = "closeModal1"> <!-- Cross button that closes the quiz info modal -->
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id = "quizInfo"> 
        <b>Vrijeme završetka ispita:</b> <span id = "maxTime">{{ quizs.endDate }}</span>
      </div>
      <div class="modal-footer">
        <!-- Button which opens the quiz and starts the timer-->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" id = "quizStart"> Pokreni ispit </button>
      </div>
    </div>
  </div>
</div>

 
<!--Quiz modal, static data-backdrop so it doesnt't close by clicking background-->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog .modal-dialog-scrollable" style="max-width: 80%;" >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="staticBackdropLabel">{{ quiz.title }}</h4> <!-- Dynamic question number -->
        <tab><button type="button" id = "timer" class="btn btn-primary" disabled><span id = "timeLeft"></span></button> <!--Button with time left, changes color in the last minute -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id = "closeModal2"> <!-- Cross button which activates alert box -->
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr>
      <!-- Displaying formset with radio buttons-->
      <form action="" method = "post">
        {% csrf_token %}
        {% for question in questions %}
           <div class="modal-body">
              {{ question.text }}
                 {% for answer in question.answer.all %}
                      {{ answer.text }}
                      <input type="radio" name = '{{ question.text }}' value = '{{ answer.text }}'>x<label> {{ answer.text }}</label></input><br>
                 {% endfor %}
           </div>
        {% endfor %}
      
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger
        " data-dismiss="modal" id = "quizFinish" >Završi kviz</button> <!--Buttton finish quiz which activates alert box-->
        <!-- <button type="button" class="btn btn-primary" id = "nextQuestion">Iduće pitanje</button> Button to go to the next question -->
      </div>
    </form>
     </div>
  </div>
</div>

<!--</script>-->
<script>
    var maxMinutes = '{{ quizs.endDate.minute }}';
    var maxSeconds = '{{ quizs.endDate.second }}'; 
    var minMinutes = '{{ quizs.startDate.minute }}';
    var minSeconds = '{{ quizs.startDate.second }}';
    $("input[type=radio]").attr('disabled', true);
    $("input[type=radio]").attr('disabled', false);
</script>

<script src="{% static 'components/js/onePageQuiz.js' %}" ></script> 
{% endblock content %}
